<cdk-accordion class="i--accordion-- i_ac4rdi0n example-accordion" [multi]="false">
  <cdk-accordion-item *ngFor="let item of animes; let i = index;" #accordionItem="cdkAccordionItem"
    class="example-accordion-item" role="button" tabindex="0" [attr.id]="'accordion_body__' + item.uuid"
        [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion_body' + item.uuid">
    <app-accordion [title]="item.name" [accordionItem]="accordionItem">
        <h1>Here's the description</h1>
        <p>{{item.description}}</p>
    </app-accordion>
  </cdk-accordion-item>
</cdk-accordion>