@use '../../../assets/sass/abstracts/mixins' as c

.i--accordion__item__wrapper
  display: block

.i--accordion__item__header
  display: flex
  align-items: center
  justify-content: space-between
  font-size: 1.4rem
  background-color: inherit
  user-select: none 


.example-accordion-item-description 
  font-size: 1.4rem
  line-height: 0


.i--accordion__item__header,
.example-accordion-item-body
  padding: 16px 
  &[data-accordion-size="s"] 
    padding: 8px 16px

  &[data-accordion-size="m"] 
    padding: 16px

  &[data-accordion-size="l"] 
    padding: 20px


.i--accordion__item__header:hover 
  cursor: pointer
  background-color: #eee

.i--accordion__item__header_title 
  font-size: 1.4rem
  @include c.skeleton

